.u-section-1 .u-sheet-1 {
  min-height: 1714px;
}

.u-section-1 .u-map-1 {
  width: 806px;
  height: 388px;
  margin: 376px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -1341px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  order: 0;
  min-height: 666px;
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 16px 429px 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -22px 1px 0 40px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 1px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -25px auto 0 18px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 0.2em;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 16px 429px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -22px 1px 0 40px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 1px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -25px auto 0 18px;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-5 {
  height: 22px;
  width: 22px;
  margin: 16px 429px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -22px 1px 0 40px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 1px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -25px auto 0 18px;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  order: 1;
  min-height: 666px;
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 379px;
  width: 439px;
  margin: 93px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 1001px;
    width: 1040px;
    margin-top: 713px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-image-2 {
    height: 713px;
    width: 1040px;
    margin-top: -1714px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-map-1 {
    margin-top: 553px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1541px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 897px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 897px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1649px;
  }

  .u-section-1 .u-image-1 {
    width: 820px;
    height: 904px;
    margin-top: 745px;
  }

  .u-section-1 .u-image-2 {
    width: 820px;
    height: 745px;
    margin-top: -1649px;
  }

  .u-section-1 .u-map-1 {
    width: 670px;
    height: 488px;
    margin-top: 356px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1476px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 242px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 242px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 242px;
  }

  .u-section-1 .u-form-1 {
    height: 374px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2545px;
  }

  .u-section-1 .u-image-1 {
    width: 640px;
    height: 1576px;
    margin-top: 969px;
  }

  .u-section-1 .u-image-2 {
    width: 640px;
    height: 984px;
    margin-top: -2545px;
  }

  .u-section-1 .u-map-1 {
    width: 540px;
    margin-top: 1013px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -2342px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 457px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 457px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 457px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    height: 441px;
    width: 480px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2731px;
  }

  .u-section-1 .u-image-1 {
    height: 1613px;
    width: 440px;
    margin-top: 1118px;
  }

  .u-section-1 .u-image-2 {
    width: 440px;
    height: 1118px;
    margin-top: -2731px;
  }

  .u-section-1 .u-map-1 {
    margin-top: 944px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -2463px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 278px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 278px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 278px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}