
.u-section-1 {
  background-image: none;
  height: 100vh;
}

.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 95px auto 0 -183px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 95px 719px 0 -359px;
}

.u-section-1 .u-image-1 {
  width: 576px;
  height: 647px;
  margin: -509px -54px 46px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 54px;
    margin-left: -38px;
  }

  .u-section-1 .u-text-2 {
    width: 780px;
    margin-top: 136px;
    margin-right: 619px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -376px;
    margin-right: 22px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 82px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 145px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1301px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 607px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 51px;
  }
}